body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Prevent zooming on iPhone. */
    touch-action: pan-x pan-y;

    background-color: #181818;
    text-align: center;

    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: #e00000;
    text-shadow: 2px 2px rgba(161,18,18,.7);
}

h2 {
    margin-top: 40px;
    color: #fff;
    text-shadow: 2px 2px rgba(153, 153, 153, 0.7);    
}

p {
    font-size: 16px;
    color: #fff;
    margin-top: 40px;
    text-shadow: 1px 1px rgba(153, 153, 153, 0.7);    
}