.AdminLoginPage {
    font-size: max(8px, calc(8px + 0.2vw));
    color: rgb(184, 27, 27);
    font-weight: bold;

    /* border: 1px solid white; */
    max-width: 270px;
    
    margin-left: auto;
    margin-right: auto;

    overflow: auto;
}

.AdminLoginPage p {
    /* font-size: max(11px, calc(11px + 0.2vw)); */
    font-size: 12px;
}

.AdminLoginPage input[type="text"], input[type="password"] {
    font-size: 11px;
    
    width: min(130px, calc(100px + 5vw));

    height: 17px;

    border: 0px;
    text-align: left;
    padding-left: 5px;

    text-transform: none;

    float: right;

    margin: 0;
}

.AdminLoginPage label {
    float: left;
    
    margin: 0;
    margin-top: 4px;
}

.AdminLoginPage p {
    margin: 20px;
    clear: both;

    overflow: auto;
}

.AdminLoginPage p.AdminLoginError {
    font-size: max(10px, calc(10px + 0.2vw));
    color: rgb(216, 216, 3);
    
    margin-bottom: 10px;
}