.LeaderBoard {
  width: max(200px, 30vw);
  max-width: 300px;
  text-transform: uppercase;
}

.LeaderBoardEntry {
  font-size: max(10px, calc(10px + 0.2vw));
  color: #10ba68;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 5px;
}

.LeaderBoardEntry:hover {
  font-weight: bold;
}

.LeaderBoardName {
  float: left;
}

.LeaderBoardScore {
  color: white;
  float: right;
}

.LeaderBoardEmptyMsg {
  font-size: max(10px, calc(10px + 0.2vw));
  color: white;
  margin-bottom: 2px;
  font-weight: bold;
}
