.loading-container {
  padding: 10px;
}

.loading-image {
  height: 60px;
  animation-name: spin;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 720deg;
  }
}
