.MOATApp {
  text-align: center;

  display: flex;
  flex-direction: column;

  flex-grow: 1;

  min-height: 0;
  min-width: 0;

  /*max-width: 1200px;*/
  max-width: max(800px, 50vw);

  margin-left: 10px;
  margin-right: 10px;
}

/* Background overlay */
.MOATApp:before {
  z-index: -1;
  content: " ";

  width: calc(100vw);
  height: calc(100vh);

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  transform: translate(-50%, -50%) rotate(-20deg) scale(150%);

  background-image: url("../images/target.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  opacity: 0.2;
}

.RoundBorder {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

input[type="checkbox"],
select {
  cursor: pointer;
}

p,
span,
h1,
h2,
h3 {
  cursor: default;
}

h1 {
  text-transform: uppercase;
  margin: 7px 5px 7px 5px;
  font-size: max(14px, calc(14px + 1.1vw));
  text-shadow: 2px 2px rgba(161, 18, 18, 0.7);
}

h2 {
  font-size: max(12px, calc(12px + 0.4vw));
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(161, 18, 18, 0.7);
}
