.shootingGalleryGame {
    display: flex;

    min-width: 0;
    min-height: 0;

    flex-grow: 1;
    flex-shrink: 1;
}

#shootingGalleryCanvas {
    cursor: crosshair;

    flex-grow: 1;
    flex-shrink: 1;

    min-width: 0;
    min-height: 0;
}